# Web
fastapi
uvicorn[standard]

# Database
sqlalchemy
alembic
psycopg[binary]

# Settings and validatin
pydantic
pydantic-settings
email-validator

# Async HTTP client for external API requests
httpx

# Email notifications
aiosmtplib
